name: Set week number of the year in Bio

on:
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:

jobs:
  update-weekly:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Concatenate week number to README.md
        run: |
          week=$(printf "## WEEK %s\n" "$(date +%W)")
          readme=$(cat README.md)
          while true; 
          do 
            echo "$readme" | head -1 | grep -q "## WEEK [0-9]*" || 
                break; 
            readme=$(echo "$readme"|tail +2); 
          done;
          printf "%s\n%s\n" "$week" "$readme" | tee README.md

      - name: Commit and Push Changes
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add .
          if git diff --cached --quiet; then
              echo "No changes to commit. Skipping git push."
          else
              week=$(date +%W)
              git commit -m "Update Week $week"
              git push origin main
          fi
